<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('css_path', name='styles.css') }}">
        <title>Menu Maker</title>
    </head>
    <body>
        {% block body %}
        {% endblock body %}

        <script type="text/javascript">var session = {{ session|tojson() }};</script>
        <script type="module" src="{{ url_for('js_path', name='main.js')}}"></script>
    </body>
</html>